<div class="container">
    <div class="row">
        {{#each index}}
        {{#each index}}
        {{#each lists}}
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center" style="margin-top: 15px;">
            <div class="card h-100 border-0 shadow-sm" style="transition: transform 0.2s;">
                <div class="card-header p-1 bg-transparent border-0">
                    <span class="badge {{../../color}}" style="font-size: 0.7em;">
                        {{../../section}}
                    </span>
                </div>
                <a href="content/list.html?race={{../abbreviation}}&list={{file}}" 
                    class="text-decoration-none text-dark"
                    onmouseover="this.parentElement.style.transform='scale(1.05)'"
                    onmouseout="this.parentElement.style.transform='scale(1)'">

                    <img class="card-img-top" style="height: 150px; max-width: 100%; object-fit: contain;" src="{{img}}" alt="{{name}}"/>

                    <div class="card-body p-2">
                        <div class="text-center">
                            <small class="d-block">
                                <b>{{name}}</b>
                                {{#if description}}
                                    <br>
                                    <small class="text-muted">{{description}}</small>
                                {{/if}}
                            </small>
                            {{#if (not status "approved")}}
                                <small><em class="text-warning">{{status}}</em></small>
                            {{/if}}
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {{/each}}
        {{/each}}
        {{/each}}
    </div>
</div>