{{#each this}}
{{#if unit.length}}
<h2>{{name}}</h2>

{{> card-with-margin}}
<table class="table">
    <thead>
    <tr>
        <th scope="col" class="unit-table-header">
            <div class="row">
                <div class="col-12 col-lg-4">Units</div>
                <div class="d-none d-md-inline col-lg-8">Weapons</div>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#each unit}}
    {{#unit this}}
    <tr class="unit-row-{{oddEven @index}}">
        <td>
            <div class="row">
                <div class="col-12">
                    <b>{{name}}</b>
                </div>
                {{#if variants}}
                {{#each variants}}
                <div class="col-12">
                    <span class="variant-title">Variant: {{name}}</span>
                </div>
                <div class="col-lg-4">
                    <table class="table-sm stats-table">
                        <tbody>
                        <tr>
                            <td>Type</td>
                            <td>Speed</td>
                            <td>Armour</td>
                            <td>CC</td>
                            <td>FF</td>
                        </tr>
                        <tr>
                            <td>{{#if type}}{{type}}{{else}}n/a{{/if}}</td>
                            <td>{{#if speed}}{{appendOnNumber speed 'cm'}}{{else}}n/a{{/if}}</td>
                            <td>{{#if armour}}{{armour}}+{{else}}n/a{{/if}}</td>
                            <td>{{#if cc}}{{cc}}+{{else}}n/a{{/if}}</td>
                            <td colspan="3">{{#if ff}}{{ff}}+{{else}}n/a{{/if}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-lg-8">{{> weapons}}</div>
                {{#unless @last}}
                <div class="col-12"><hr class="variant-separator"/></div>
                {{/unless}}
                {{/each}}
                {{/if}}
                {{#unless variants}}
                <div class="col-12">
                    <small>{{description}}</small>
                </div>
                <div class="col-lg-4">
                    <table class="table-sm stats-table">
                        <tbody>
                        <tr>
                            <td>Type</td>
                            <td>Speed</td>
                            <td>Armour</td>
                            <td>CC</td>
                            <td>FF</td>
                        </tr>
                        <tr>
                            <td>{{#if type}}{{type}}{{else}}n/a{{/if}}</td>
                            <td>{{#if speed}}{{appendOnNumber speed 'cm'}}{{else}}n/a{{/if}}</td>
                            <td>{{#if armour}}{{armour}}+{{else}}n/a{{/if}}</td>
                            <td>{{#if cc}}{{cc}}+{{else}}n/a{{/if}}</td>
                            <td colspan="3">{{#if ff}}{{ff}}+{{else}}n/a{{/if}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-12 col-lg-8">{{> weapons}}</div>
                {{/unless}}
            </div>
            {{#if @hasNotes}}
            <div class="row notes-row">
                <div class="col">
                    <small>
                        <span class="notes-header">Notes:</span>
                        {{#each specialRules}}
                        {{#unless @last}}<i>{{this}}</i>,{{/unless}}
                        {{#if @last}}<i>{{this}}</i>.{{/if}}
                        {{/each}}
                        {{notes}}
                        {{#if crit}}<span class="notes-header">Critical hit effect:</span> {{crit}}{{/if}}
                    </small>
                </div>
            </div>
            {{/if}}
        </td>
        {{/unit}}
        {{/each}}
    </tbody>
</table>
</div>

{{> special-rules}}
{{/if}}
{{/each}}

<p>&nbsp;</p>